body{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    background:linear-gradient(#6a11cb, pink);
    height:66vh;

}
.container{
    border: 1px solid black;
    height: 300px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px gray;
}
#dice{
    width: 80px;
    margin-top: 10px;
}
button{
    padding: 10px 20px 10px 20px;
    margin-top: 25px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
}
button:hover{
    background-color: #0056b3;
}